[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-wtf = "*"
flask-mail = "*"
pyjwt = "*"
flask-bootstrap = "*"
flask-login = "*"
python-dotenv = "*"
flask-socketio = "*"
eventlet = "*"
flask-uploads = "*"

[requires]
python_version = "3.7"
